.logo{
    width: 144.35px;
}

.title{
    color: #ffffff;

    font-size: 24px;

    margin-bottom: 2rem;

    text-align: center;
    text-transform: uppercase;
}

/*Form */

.form{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
}

.inputGroup{
    color: #ffffff;

    margin-bottom: 2rem;
}

.label{
    display: block;

    font-weight: 600;
}

.input {
    background-color: rgba(209, 206, 213, 0.6); 
    border-radius: 10px;
    border: none;
    box-shadow: 4px 0 0 0 rgba(0, 0, 0, 0.3); 

    padding: 0.8rem;
}

.input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
 }

 /*Register*/
 .container{
    color: #ffffff;

    margin-bottom: 1.5rem;

    text-align: center;
 }

 .register{
    color: #D6E1FF;
    cursor: pointer;

    text-decoration: none;
 }
